<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Express-handlebar</title>
  </head>
  <body>
    <header>
      <img src="/img/toy.png" alt="Toy" width="400px" height="500px" />
    </header>
    {{! 각 뷰에서 html으로 바뀐다 }}
    {{{body}}}
  </body>
</html>